<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="content-wrapper">
    {{>header}}
    <main>
      <p>{{description}}</p>
    </main>
    {{>footer}}
  </div>
</body>
</html>
