<header class="header">
  <h1 class="header__title">{{title}}</h1>
  <nav class="header__nav">
    <a href="/" class="header__link">Home</a>
    <a href="/about" class="header__link">About Me</a>
    <a href="/help" class="header__link">Help</a>
  </nav>
</header>
